<section id="home" class="target home">
    <div class="video-planet">
      <div class="black-gradient-top"></div>
      <div class="black-gradient-bottom"></div>
      <video class="main-video-back planet-back" id="mapStart" playsinline autoplay [muted]="true" loop>
        <source src="assets/images/videos/preload.mp4?v=1" type="video/mp4">
      </video>
    </div>

    <div class="home-bottom">
        <img src="assets/images/logo-white.gif" alt="Mint4Ukraine">
        <h1 class="home-text">Bringing</h1> 
        <div class="home-text-small">PEACE TO THE WORLD</div>
    </div>
  
    <div class="scroll-down">
      Scroll Down
    </div>
</section>

<section id="about" class="target about">
    <div class="row">
        <div class="col-sm-5 about-header">
            <span class="about-header-light">Buy art.</span> <br>
            Make love. Support the Armed Forces of Ukraine 🇺🇦 
        </div>
        <div class="col-sm-7 about-header-right">
            <ul>
                <li>
                    <span>Do you know that there is a war going on in Ukraine?</span>
                </li>
                <li>
                    <span>Do you know that Putin attacked Ukraine?</span>
                </li>
                <li>
                    <span>Do you know that the Russian invaders launch rockets into residential buildings?</span>
                </li>
                <li>
                    <span>Do you know that their soldiers and saboteurs are shooting at hospitals, doctors and children?</span>
                </li>
                <li>
                    <span>Do you know that thousands of people died in a couple of days of war?</span>
                </li>
            </ul>
            <p class="top-50">
                You probably didn't want to know. But the war does not ask our desires.
            </p>
            <p>
                Only the Ukrainian army stands between the enemies of the civilized world and you. Buy NFT, share information about the collection and you will help Ukrainians survive.
            </p>
            <p>
                Peace for everyone. Mint for Ukraine!
            </p>
        </div>
    </div>
</section>

<section id="nfts" class="target nfts">
    <div class="nft-header">
        <div class="nft-header-big">
            NFTS
        </div>
        <div class="nft-header-small">
            <div class="nft-header-blue">Collection</div>
            <div class="nft-header-yellow">
                All funds raised will be donated to the armed forces of Ukraine
            </div>
        </div>
    </div>
    <div class="nfts-list-container">
        <div class="nft-container" *ngFor="let art of arts">
            <a [href]="art?.details" target="_blank">
                <img [src]="art?.imgLink" *ngIf="art?.imgLink">
                <div class="video-container" *ngIf="art?.videoLink">
                    <video class="main-video-back planet-back" id="mapStart" playsinline autoplay [muted]="true" loop>
                        <source [src]="art?.videoLink" type="video/mp4">
                    </video>
                </div>
            </a>
            <div class="nft-container-flex">
                <span class="nft-lable">
                    Artist:
                </span>
                <a href="https://www.instagram.com/{{art?.author}}" 
                    class="nft-lable-value" 
                    target="_blank">
                    @{{art?.author}}
                </a>
            </div>
            <a [href]="art?.details" class="nft-details" target="_blank">
                Details
            </a>
        </div>
    </div>
</section>

<section class="action">
    <div class="action-container">
        The project was created by the <br>
        <a href="https://coinpirates.io" target="_blank" class="color-blue">CoinPirates</a> team in collaboration <br>
        with <span class="color-yellow">Ukrainian</span> artists
        <div class="btn-action">
            <a class="main-btn btn-white" target="_blank"  href="https://opensea.io/collection/mint4ukraine">support ukraine</a>
        </div>
    </div>
</section>

<section id="team" class="target team">
    <div class="nft-header">
        <div class="nft-header-big">
            TEAM
        </div>
        <div class="nft-header-small">
            <div class="nft-header">
                We could tell you that we have developers, designers, and marketing specialists. But it's all bullshit. The people of Ukraine are here. We want to drive out the invader and end the war
            </div>
        </div>
    </div>
    <div class="team-container">
        <div class="team-info">
            <img src="assets/images/team/nick.png" alt="">
            <div class="team-name">Mykola Kizilov</div>
        </div>
        <div class="team-info">
            <img src="assets/images/team/rost.png" alt="">
            <div class="team-name">Rostyslav Martynenko</div>
        </div>
        <div class="team-info">
            <img src="assets/images/team/stas.png" alt="">
            <div class="team-name">Stanislav Soima</div>
        </div>
        <div class="team-info">
            <img src="assets/images/team/dmytro.png" alt="">
            <div class="team-name">Dmytro Kartashov</div>
        </div>
        <div class="team-info">
            <img src="assets/images/team/dmytro2.png" alt="">
            <div class="team-name">Dmytro Kozynets</div>
        </div>
    </div>
</section>